<br>
<div>
    <h2 class="titulo_marcas">Nuestras marcas</h2>
</div>
<br>

<div class="contenedor_marcas">
    <!--  -->
    <a href="#">
    <div class="dot"><</div>
    </a>

    <div class="img_marcas">
        <img src="/img/logo1.png" alt="Disney">
    </div>

    <div class="img_marcas">
        <img src="/img/logo2.png" alt="Funko">
    </div>

    <div class="img_marcas">
        <img src="/img/logo3.png" alt="Funko">
    </div>

    <div class="img_marcas">
        <img src="/img/logo4.png" alt="Funko">
    </div>

    

    <a href="#">
    <div class="dot">></div>
    </a>
    <!--  -->
</div>







