<!DOCTYPE html>
<html lang="es">

    <!-- HEAD -->
    <%- include('./partials/head') %>

  <body>

    <!-- HEADER -->
    <%- include('./partials/header')%>

    <!-- MAIN -->
    <main>
    <!--  -->
   

      <!-- COLECCION -->
      <%- include('./01coleccion2')%>

      
      
    <!--  -->
    </main>
    
    <!-- FOOTER -->
    <%- include('./partials/footer')%>


    

  </body>
</html>
