<footer>

    <br><br><br><br>
    
    <!-- 3ra columna -->
    <div class="columnatres">
        <form action="POST">
            ¿BUSCÁS OFERTAS? <br>
            <input type="text" name="enviar_mail" placeholder="ingresá tu eMail" class="xinput">
            <button type="submit" class="xboton">ENVIAR</button>
        </form>

    </div>

    <div class="columna_contenedor">

        <!-- 1ra columna -->
        <div class="columnauno">

        <div>
            <a href="/">
            <img src="/img/iconos/instagram.png" alt="Instagram" class="iconoredes">
            INSTAGRAM
            </a>
        </div>

        <div>
            <a href="/">
            <img src="/img/iconos/youtube.png" alt="Youtube" class="iconoredes">
            YOUTUBE
            </a>
        </div>
                
        <div>
            <a href="/">
            <img src="/img/iconos/facebook.png" alt="Facebook" class="iconoredes">
            FACEBOOK
            </a>
        </div>
        </div>

        <!-- 2da columna -->
        <div class="columnados">
            <div><a href="/">PREGUNTAS FREC.</a></div>

            <div><a href="/">TÉRM & COND</a></div>
    
            <div><a href="/">MIS PEDIDOS</a></div>
        </div>










    </div>

<div class="contenedor_empresas">
    <div>
        <img src="/img/footer1.png"alt="" class="iconoempresas">
        <img src="/img/footer2.png"alt="" class="iconoempresas">
        <img src="/img/footer3.png"alt="" class="iconoempresas">
    </div>

    <div>
        <img src="/img/footer4.png"alt="" class="iconoempresas">
        <img src="/img/footer5.png"alt="" class="iconoempresas">
        <img src="/img/footer6.png"alt="" class="iconoempresas">
    </div>
</div>

<!-- WHATSAPP BUTTON -->
<a href="https://wa.me/5492971234567?text=Saludos!!" class="floating" target="_blank">
    <i class="fab fa-whatsapp fab-icon"></i>
</a>


<div class="medioCirculo" id='toTop'>
    <i class="fas fa-solid fa-arrow-up"></i>
    <br>
    SUBIR
</div>

<!-- SCROLL TO TOP -->
<!-- requiere uso de .js -->
<script src="/js/scrollToTop.js"></script>

</footer>