

<header>

    <div class="contenedorx2" >

        <!-- IZQUIERDA -->
        <div >
            <!-- 'nav' está destinado sólo para el bloque principal de enlaces de navegación -->
            <nav >
                <ul >

                    <li class="movil"><a href="/"><i class="fas fa-bars"></i></a></li>
                    <li class="desktop"><a href="/">Categorías</a></li>
                    <li class="desktop"><a href="/products" class="enlace_gris">LOL</a></li>
                    <li class="desktop"><a href="/products" class="enlace_gris">CryBabies</a></li>
                    <li class="desktop"><a href="/products" class="enlace_gris">Funko</a></li>
                    <li class="desktop"><a href="/">
                        <div class="enlace_rojo">
                            Hot Sale!
                            
                            <span class="reddot rd1"></span>
                            <span class="reddot rd2"></span>
                            <span class="reddot rd3"></span>
                            <span class="reddot rd4"></span>
                        </div>                       
                        </a>
                    </li>
                    

                </ul>
            </nav>
        </div>
    


        <div class="movil logo_cruce">
              <img src="/img/footer6.png" alt="">
        </div>

        <!-- DERECHA -->
        <div class="contenedorx2_der">

            <!-- Buscador -->
            <div class="desktop">
                <i class="fas fa-search lupa"> <span class="dotsearch"></span></i>
            </div>

            <!-- Iconos -->
            <div class="desktop">
                <a href="/login" class="enlace_negro"><i class="fas fa-user"></i></a>
            </div>
            <div>
                <a href="/carrito" class="enlace_negro">
                    <i class="fas fa-shopping-cart cart">
                        <span class="cart_number">3</span>
                    </i>
                </a>
            </div>
            
            

        </div>
    
    </div>

    <!-- div horizontal lila -->
    <div class="lila">
        <div class="lila_izq">Sólo por hoy: envío gratis en todos los productos!</div>
        <div class="lila_der">x</div>     
    </div>
    
    <!-- 3 divs en linea -->
    <div class="contenedor_x3">

        <div class="contenedor_x2">
            <i class="fas fa-credit-card"></i>
            <div><span class="negrita">12 y 18 Cuotas</span><br><span class="rojo">¡Sin interés!</span></div>
        </div>

        
        <div class="linea"></div>

        <div class="contenedor_x2"> 
            <i class="fas fa-truck-moving"></i>
            <div><span class="negrita">Envío gratis</span><br><span class="rojo">En todas las compras</span></div>
        </div>

        <div class="linea"></div>

        <div class="contenedor_x2">
            <i class="fas fa-motorcycle"></i>
            <div><span class="negrita">Te llega en 24 hs</span><br><span class="gris">Con costo adicional</span></div>
        </div>
    </div>
    
    
    
</header>



